header{
  background-color: white;
  width: auto;
  height: auto;
  text-align: center;
  margin: 0px auto 0px auto;
  margin-top: -30px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  }


  p{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

main{
  background-color: black;
  width: auto;
  color: white;
}

footer{
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  }

  nav{
  background-color: black;
  width: auto;
  text-align: center;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  }


  nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 80px;
  padding: 10px;
  }

  nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px
  }

  nav ul li:hover{
  background-color: none;
  text-decoration: line-through;
  }

  body {
    font-family: Helvetica, sans-serif;
  }

  #grid1{
    grid-template-columns: 430px 460px;
    grid-template-rows: 700px;
    width: 800px;
    height: auto;
    display: grid;
    grid-column-gap: 100px;
    padding-left: 200px;
    color: white;
    text-align: center;
    }

  #grid1 img{
    width: 300px;
    margin: auto;
    display:  flex;
    grid-template-columns: 200px;
    /* float: right; */

  }

    #grid2{
    width: 800px;
    height: auto;
    margin: 60px;
    grid-template-rows: 200px;
    grid-template-columns: 390px;
    display: block;
    padding-bottom: 900px;
    }

    #grid3{
    width: 1000px;
    height: auto;
    display: block;
    margin: 10px;
    grid-template-rows: 600px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: white;
    color: black;
    background-size: auto;
    font-weight: bolder;
    }

    #grid4{
        width: 600px;
        height: auto;
        margin: 0 auto 0;
        display: block;
        grid-template-rows: 1fr; /* NOTE: a frame or fr is determined by the size of the largest element  */
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        text-align: center;
      }

      #grid5{
      width: 400px;
      height: 300px;
      display: block;
      margin-left: 300px;
      margin-bottom: 300px;
      grid-template-rows: 600px;
      text-align: center;
      padding-top: 10px;
      padding-left: 200px;
      padding-right: 200px;
      background-color: white;
      color: black;
      }


      #grid5 img{
        width: 400px;
      }

      #grid6{
      width: 800px
      height:auto;
      background-image: url(https://images.unsplash.com/photo-1505995433366-e12047f3f144?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=464&q=80);
      background-color: black;
      text-align: center;
      padding-left: 50px;
      padding-bottom: 50px;
      }




      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      #grid4 img{
        width: 500px;
      }

#gallery {
margin: 5px;
border: none;
float:  right;
width: 300px;
  }

#gallery:hover {
border: 2px solid #777;
}

#gallery img{
width: 300px;
height: auto;
float: right;
}

#desc{
text-align: center;
}

h2{
text-align: center;
font-size: 30px;
font-family: 'Fjalla One', sans-serif;
}

h3{
text-align: center;
font-size: 22px;
margin-left: 28px;
font-weight: bolder;
text-decoration: underline;
font-family: 'Fjalla One', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
