@import "desktop.css";
header{
  width: 400px;
}


footer{
  width: 400px;
  height: 800px;
  display: inline-block;
  text-align: center;
  background-position: center;
}

nav{
  width: 400px;
}

nav ul{
  margin-left: 40px;
}

nav ul li{
  display: block;
  text-align: center;
}

#grid1{
  width: 200px;
  height: 1000px;
  text-align: center;
  display: inline-block;
  margin: auto;
}

#grid1 img{
  width: 400px;
  height: auto;
  float: right;
  grid-column: 1fr;
}

#grid2{
  width: 200px;
  height: 840px;
  display: inline-block;
}

#grid2img{
  width: 300px;
  height: auto;
  grid-column: 1fr;
}


#grid3{
width: 380px;
height: 300px;
display:inline-block;
text-align: center;
}


#grid4{
width: 380px;
height: 400px;
display:inline-block;
text-align: center;
}

#grid4 img{
width: 300px;
height: auto;
margin: 0 auto;
display: block;
/* float: right; */
}

#grid5{
width: 300px;
height: 400px;
display:block;
}


#grid6{
width: 300px;
height: 800px;
display: block;
text-align: center;
}
