body{
  background-color: blue;
  background-color: PapayaWhip;
  background color: #77fff00;/*Hexidecimal*/
  background-color: rgb(255,0,0); /*red*/
  background-color: rgb(255,255,255); /*white*/
  background-color: rgb(0,0,0); /*black*/
  background-color: DarkSeaGreen;
  }

h1{color: Orange}

h3{ color: white}

h3 em{font font-family: sans-serif;
text-decoration: underline;
}

li{
    font-size: 20px;
    list-style: circle;
}

ul li{
  list-style: none;
}

a{
  color: grey;
  text-decoration: none; /*removes underline */
}

a:hover{
background-color: purple;
}

#name{
text align: center;
}

.underline{
text-decoration: underline;
font-weight: bold;
}
